@import "tailwindcss";
@import "uniwind";

@theme {
  --app-max-width: 480px;

  --font-sans: "Geist_400Regular", system-ui, sans-serif;
  --font-medium: "Geist_500Medium", system-ui, sans-serif;
  --font-semibold: "Geist_600SemiBold", system-ui, sans-serif;
  --font-bold: "Geist_700Bold", system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  align-self: center;
  background-color: #ffffff;
  max-width: var(--app-max-width);
  position: relative;
  --color: #ff9494;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  flex-wrap: nowrap;
  align-items: stretch;
  min-height: inherit;
  margin: auto;
}
